<header class="header">

    <div>

        <h2>

            Employee Management System

        </h2>

    </div>

    <div>

        Welcome,

        <strong>

            <%= user.name %>

        </strong>

    </div>

</header>