<div class="sidebar">

    <div class="logo">

        EMS

    </div>

    <ul>

        <li>

            <a href="/hr/dashboard">

                Dashboard

            </a>

        </li>

        <li>

            <a href="/hr/employees">

                Employees

            </a>

        </li>

        <li>

            <a href="/hr/managers">

                Managers

            </a>

        </li>

        <li>

            <a href="/hr/finance">

                Finance

            </a>

        </li>

        <li>

            <a href="/hr/leave-manager">

                Leave Manager

            </a>

        </li>

        <li>

            <a href="/hr/attendance">

                Attendance

            </a>

        </li>

        <li>

            <a href="/hr/departments">

                Departments

            </a>

        </li>

        <li>

            <a href="/hr/reports">

                Reports

            </a>

        </li>

    </ul>

</div>