<div class="sidebar">

    <div class="logo">

        EMS

    </div>

    <ul>

        <li><a href="/hr/dashboard">Dashboard</a></li>

        <li><a href="#">Employees</a></li>

        <li><a href="#">Managers</a></li>

        <li><a href="#">Finance</a></li>

        <li><a href="#">Leave Manager</a></li>

        <li><a href="#">Attendance</a></li>

        <li><a href="#">Departments</a></li>

        <li><a href="#">Reports</a></li>

        <li><a href="/logout">Logout</a></li>

    </ul>

</div>