<div class="sidebar">

    <div class="logo">

        EMS

    </div>

    <ul>

        <li>

            <a href="/hr/dashboard">

                Dashboard

            </a>

        </li>

        <li class="menu-title">

            Employee Management

        </li>

        <li>

            <a href="/hr/employees/create">

                Create Employee

            </a>

        </li>

        <li>

            <a href="/hr/employees">

                View Employees

            </a>

        </li>

        <li class="menu-title">

            Manager Management

        </li>

        <li>

            <a href="#">

                Create Manager

            </a>

        </li>

        <li>

            <a href="#">

                View Managers

            </a>

        </li>

        <li class="menu-title">

            Finance Management

        </li>

        <li>

            <a href="#">

                Create Finance

            </a>

        </li>

        <li>

            <a href="#">

                View Finance

            </a>

        </li>

        <li>

            <a href="#">

                Leave Management

            </a>

        </li>

        <li>

            <a href="#">

                Attendance

            </a>

        </li>

        <li>

            <a href="#">

                Departments

            </a>

        </li>

        <li>

            <a href="#">

                Reports

            </a>

        </li>

        <li>

            <a href="/logout">

                Logout

            </a>

        </li>

    </ul>

</div>